.App {
  text-align: center;
}
.container {
  border: 1px solid #000;
  margin: 8px;
}

.dark, .light{
  border: 1px solid #000;
  margin: 8px; 
  min-width: 31%;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: block;
  
}

.oddeven {
  font-weight: bold;
}

button {
  margin: 4px;
  padding: 8px;
}
